#Virtual environment
/MLVenv

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python cache files
__pycache__/

#Environment variables
.env

#Solutions
/Quices/**.ipynb
/Exam/Exam.ipynb
/Assignments/**.ipynb

#Encrypt files
**/encrypt.py 
**/password.txt